@media only screen and (max-width: 960px) {
  .header {

    &__menu {
      display: block;
    }

    &__topbar__search-box {
      .form {
        &__group {
          input::placeholder {
            color: $gray_light_color;
            font-size: 14px;
          }
        }
      }
    }
  }

  .menu__item {
    padding: 0;
    padding-top: 5px;
    .icon {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header__menu {
    display: block !important;
  }

  .menu__item-add {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    position: relative;
    &__topbar {
      &__toggle {
        display: block;
      }

      &__search-box,
      &__link {
        display: none;
      }

      &__logo {
        flex-basis: 80%;
      }
    }

    &__menu {
      display: none;
      position: absolute;
      width: 100%;

      &__container {
        display: flex;
        flex-direction: column;
        background: $white_color;
        border-top: none;
        margin: 0 20px;
        padding: 0;
      }
    }
  }

  .menu__item {
    border-width: 1px 0 0 0;
    text-align: left;
    padding: 15px 0;
    color: $gray_weight_color;

    span:nth-child(2) {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }

    &:first-child {
      border-width: 1px 0 0 0;
    }
  }
}
