.wrapper {
  background: linear-gradient(-45deg,#00b1b3,#1d5086);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  &--center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
