//color
$green_color: #00BC87;
$green_color_light: rgb(55, 198, 153);
$gray_color: rgb(119, 119, 119);
$gray_light_color: rgb(240, 240, 240);
$gray_light_2_color: rgb(249, 249, 249);
$gray_medium_color: rgb(228, 228, 228);
$gray_medium_1_color: rgb(177, 177, 177);
$gray_weight_color: #4d545d;
$white_color: rgb(255, 255, 255);
$black_color: rgb(46, 46, 46);
$red_light_color: #ff000091;
$youtue_color: rgb(255, 0, 0);
$main_color: #FF4E4E;
$text_color: rgb(0,0,0);
$background_color: rgb(255, 255, 255);
$danger_color: #d90909;

//size
$max-width: 1140px;
$max-width-form: 900px;

//z-index
$zindex-max: 999;
$zindex-modal: 9999;
