//color
$gray_color: #99a0aa;
$gray_light_color: #c7c7c7;
$gray_weight_color: #4d545d;
$gray_background_color: #f6f6f6;
$green_color: rgb(0, 177, 179);
$white_color: rgb(255, 255, 255);
$orange_color: #ef6733;
$danger_color: #d90909;
$black_color: #010101;
$black_light_color: #4d545d;

//size
$max-width: 1200px;
